/* Wishlist Section */
.wishlist {
    padding-top: 0.5rem; /* Keep the adjusted top padding */
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem; /* Maintain consistent bottom padding for the section */
    background: var(--background-color);
    color: var(--text-color);
}

.wishlist h2 {
    font-family: 'Inter', sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.wishlist-grid {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.wishlist-grid li {
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    color: var(--text-color);
    background: var(--card-background);
    border-radius: 0.75rem;
    padding: 1.5rem;
    box-shadow: 0px 4px 10px var(--shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.wishlist-grid li h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.wishlist-grid li:active {
    cursor: grabbing;
    transform: scale(1.05);
}

.wishlist-grid .drag-placeholder {
    border: 2px dashed var(--text-color);
    border-radius: 0.75rem;
    min-height: 100px;
    background: var(--background-color);
}

/* Database Section */
.database-grid {
    list-style: none;
    margin: 2rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.database-grid li {
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    color: var(--text-color);
    background: var(--card-background);
    border-radius: 0.75rem;
    padding: 1.5rem;
    box-shadow: 0px 4px 10px var(--shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.database-grid li h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.database-grid li:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 20px var(--shadow-color);
}

/* Category Tag Styling */
.card-category {
    display: inline-block;
    font-size: 0.7rem; /* Smaller font size for category tag */
    font-weight: bold;
    color: #ffffff;
    padding: 0.3rem 0.5rem; /* Padding for category tag */
    border-radius: 1rem; /* Rounded corners */
    margin-top: 0.5rem; /* Space between title and tag */
}

/* Category Filter Styles */
.category-filter {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.category-option {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    color: #ffffff;
    font-size: 0.9rem;
    cursor: pointer;
    text-align: center;
}

.category-option input {
    display: none;
}

.category-option:hover {
    opacity: 0.9;
}

.category-option input:checked + span {
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
